/* Nav */

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.03rem;
  flex: 1;
  display: block;
  padding: 10px 16px;
}

nav .icon {
  width: 15%;
  text-align: center;
  padding: 14px;
  border: none;
  background: none;
  font-size: 1.4rem;
  line-height: 0;
}
